extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    +modal
    section.header__bottom
      .rev_slider_wrapper.header__bottom
        #rev-slider1.rev_slider
          ul
            //
              <li data-transition="random">
              <img src="../../images/seed/slide-1.jpg" alt="" data-bgposition="center center" data-no-retina />
              <div class="bg-slider-1"></div>
              <div class="tp-caption tp-resizeme title-55" data-x="['left','left','left','center']"
              data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']"
              data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']"
              data-lineheight="['86','70','64','48']" data-width="full" data-height="none" data-whitespace="normal"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
              data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="400" data-splitin="none"
              data-splitout="none" data-responsive_offset="on">
              <span class="slide-tittle">
              "BIG GRAIN"</span>
              </div>
              </li>
            li(data-transition='random')
              img(src='../../images/seed/slide-2.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Выгодные договорные цены и качественная продукция.
            li(data-transition='random')
              img(src='../../images/seed/slide-3.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Четкое исполнение договоренностей.
            li(data-transition='random')
              img(src='../../images/seed/slide-4.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle.slider__slide-title
                  | Контроль на всех этапах.
            li(data-transition='random')
              img(src='../../images/seed/slide-5.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Порядок с документами.
            li(data-transition='random')
              img(src='../../images/seed/slide-6.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Sunrise on the Farm by Jean Hutchison.
    section.section-about(data-aos='')
      .container
        .section-about__inner
          h2.section-about__title
            | Компания "Big Grain" — это надежный партнер на рынке экспорта сельскохозяйственной продукции.
          .section-about__video
            video#video(src='/video-1.mp4')
            button.section-about__button
              svg.bi.bi-play(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                path(d='M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z')
              // и
    +btn('Jnghfdbnm','btn_yellow')
    section.section-banner.parallax1
      .overlay-banner
      .container
        .row
          .col-md-12.col-sm-12
            .tf-banner.center.wow.fadeInUp
              img.logo-yelow(src='../../images/seed/logo-yelow.png' alt='image')
              .title-banner(data-depth='0.2')
                | Установление долгосрочных партнерских отношений с
                | сельхозпроизводителями в России и странах СНГ является важной
                | составляющей работы, что свидетельствует о нашей надежности и
                | профессионализме.
              .button-banner
                a.gain-button(href='team.html') Узнать о нас больше
    section.direction.mt-section(data-aos='')
      .container
        .direction__inner
          .direction__left
            .direction__img
              img.direction__img_1(src='./../../images/seed/about.JPG' alt='')
              //
                <img src="./../../images/seed/about.JPG" class="direction__img_2" alt="" />
                <img src="./../../images/seed/about.JPG" class="direction__img_3" alt="" />
          .direction__right
            .direction__decor
              img(src='./../../images/background/history.png' alt='decor')
            .direction__row
              h2.direction__title
                | Основными направлениями нашей деятельности являются продажа:
              ul.direction__list
                li(data-aos='fade-right') МАСЛИЧНОЙ И МЕЛКОСЕМЯННОЙ КУЛЬТУРЫ
                li(data-aos='fade-right') ЗЕРНОБОБОВОЙ И БОБОВОЙ КУЛЬТУРЫ,
                li(data-aos='fade-right') КРУП,
                li(data-aos='fade-right') ЗЕРНОБОБОВОЙ И БОБОВОЙ КУЛЬТУРЫ,
            a.direction__button.gain-button.button-color.color2(data-aos='fade-up' href='service-dtail.html') Смотреть нашу продукцию
    +service
    section.section-banner.parallax1
      .overlay-banner
      .container
        .row
          .col-md-12.col-sm-12
            .tf-banner.center.wow.fadeInUp
              img.logo-yelow(src='../../images/seed/logo-yelow.png' alt='image')
              .title-banner
                | Качество, сервис и надежность — это основные факторы, которым
                | «Big Grain» придает особое значение!
              .button-banner
                a.gain-button(href='team.html') Узнать о нас больше
    section.qualities.mt-section
      .container
        .qualities__inner
          .qualities__card(data-aos='')
            .qualities__img
              img(src='./../../images/seed/3-min.JPG' alt='')
            .qualities__box
              h3.qualities__title            Надежность — это неотъемлемая черта «Big Grain».
              p.qualities__text
                | Зарекомендовав себя, мы укрепили доверие клиентов и
                | сельхозпроизводителей. Способность выполнять свои
                | обязательства и сохранять долгосрочные отношения с партнерами
                | делает нашу компанию приоритетной на рынке
                | сельскохозяйственных продуктов.
          .qualities__card(data-aos='')
            .qualities__img
              img(src='./../../images/seed/3-min.JPG' alt='')
            .qualities__box
              h3.qualities__title Сервис - еще одна важная составляющая бизнеса.
              p.qualities__text
                | Стремление соблюдать договоренности и сроки, а также предоставлять выгодные цены, свидетельствует о превосходном сервисе. Коммуникация, оперативность и профессионализм взаимодействия с клиентами являются факторами, которые делают нашу компанию успешной.
          .qualities__card(data-aos='')
            .qualities__img
              img(src='./../../images/seed/3-min.JPG' alt='')
            .qualities__box
              h3.qualities__title      Качество продукции является основным аспектом.
              p.qualities__text
                | Мы стремимся предложить только высококлассный товар своим
                | клиентам. Это помогает создать доверие и установить
                | долгосрочные партнерские отношения.
          .qualities__card(data-aos='')
            .qualities__img
              img(src='./../../images/seed/3-min.JPG' alt='')
            .qualities__box
              h3.qualities__title      Качество продукции является основным аспектом.
              p.qualities__text
                | Мы стремимся предложить только высококлассный товар своим
                | клиентам. Это помогает создать доверие и установить
                | долгосрочные партнерские отношения.
    section.section-swiper.mt-section
      .section-swiper__inner
        .swiper
          .swiper-wrapper
            .swiper-slide
              img(src='./../../images/seed/1-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/2-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/3-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/4-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/5-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/6-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/7-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/8-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/9-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/10-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/1-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/2-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/3-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/4-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/5-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/6-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/7-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/8-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/9-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/10-min.JPG' alt='')
    .button-go-top
      a.go-top(href='#' title='')
        i.fa.fa-chevron-up
